<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <ion-list>
    <ion-item>
      <ion-label position="stack"> Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stack">age</ion-label>
      <ion-input  [value]="formattedAge" (click)="onAgeFocus($event)" placeholder=" dd / mm / yyyy"  type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stack">gender</ion-label>
      <ion-select formControlName="gender" aria-label="Fruit" interface="popover" placeholder="Select your gender">
        @for(gender of GENDERS; track gender.value){
          <ion-select-option [value]="gender.value"> {{ gender.label }} </ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Profile Picture</ion-label>
      <ion-input formControlName="avatarUrl" type="url"></ion-input>
    </ion-item>
  </ion-list>

  <div class="button-container">
    <ion-button expand="full" type="submit" >
      Save Profile
    </ion-button>
  </div >

</form>
