.dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  &__hero {
    text-align: center;
    margin: 0 auto;
    ion-avatar {
      height: 10rem;
      width: 10rem;
      //border-radius: 50%;
      img {
        object-position: top;
      }
    }
  }
  &__btns {
  display: flex;
  justify-content: space-between;
   a:first-child {
      margin-right: auto;
    }
  }
}
