<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="onBack()" defaultHref="/account"></ion-back-button>
    </ion-buttons>

    <ion-title>
        Edit Preferences
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-custom-grid>
    <form  class="edit-profile-form" [formGroup]="editProfileForm">
      <ion-item-group>
        <ion-item-divider>
          <ion-label for="bio">Bio</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-input formControlName="bio" placeholder="bio" ></ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider>
          <ion-label for="name">Name</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-input formControlName="name" placeholder="name"></ion-input>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-label for="age">Age</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-input formControlName="age" placeholder="age"></ion-input>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-label for="gender">Gender</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-input formControlName="gender" placeholder="gender"></ion-input>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-label for="location">Dating Location</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-input  readonly formControlName="location" placeholder="location" (click)="createMap()"></ion-input>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-label for="lifestyle">lifestyle</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-input formControlName="lifestyle" placeholder="lifestyle"></ion-input>
        </ion-item>
      </ion-item-group>
    </form>
  </app-custom-grid>
</ion-content>

