.browse-item {
  background-image:
    linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0)), /* gradient overlay */
    url('https://images.unsplash.com/photo-1580489944761-15a19d654956?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fHBlb3BsZXxlbnwwfHwwfHx8MA%3D%3D');
  height: 100%;
  width: 100%;

  background-repeat: no-repeat;
  background-position: center center; /* centers the image */
  background-size: cover;

  margin: 0;

  position: relative;
  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
